
@{
    ViewBag.Title = "CustomerPortal";
}

<hr />
<div class="row">

    <!--<div class="col-md-6">
        <h2 class="text-left">@ViewBag.Title</h2>
        </div>-->

    <div class="col-md-12 text-center">
        <a href="@Url.Action("Index","Home")">
            <img src="@Url.Content("~/Content/Images/PartyPlannerSmall.jpg.gif")" />
        </a>
    </div>
</div>
<hr />


<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/CustomerPortal.jpg" class="img-responsive" />
        </div>

        <div class="col-md-6">
            <img src="~/Content/Images/CustomerPortal2.jpg" class="img-responsive" />
        </div>
    </div>

    <hr />

    <h2 class="text-center">Customer Portal</h2>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <p></p>

            <h4 class="text-justify">If you are an existing customer, you can login directly by clicking the icon on the right hand side of the page.</h4>
        </div>

        <div class="col-md-6">
            <p></p>
            <h4 class="text-justify">If you are not an already registered customer, why not click here to join Ireland's fastest growing online Party Planning service?!</h4>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6 right">
            <div class="panel">

                <img src="~/Content/Images/Ballons.png" class="img-reponsive center-block" />

                @Html.ActionLink("Customer Login", "Login", "", htmlAttributes: new { @class = "btn btn-warning btn-block" });

            <!-- <a href="#" class=" btn btn-warning btn-block">Customer Login</a> -->    
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel">

                <img src="~/Content/Images/customer reg.jpg" class="img-reponsive center-block" />

                @Html.ActionLink("Register as new User", "Create", "", htmlAttributes: new { @class = "btn btn-warning btn-block" });
            </div>
        </div>
    </div>

</div>


